* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
  /* background: url('../video/ocean.jpg') no-repeat center;
  background-size: cover; */
}

.wrap {
  display: table-cell;
  vertical-align: middle;
  color: hsl(244, 100%, 31%);
  text-transform: uppercase;
  font-size: 25px;
}

